.hello{
  font-size: 30px;
  color: #144c52;
  font-weight: bold;
}

.bio{
  font-size: 20px;
}

.my-picture{
  display: block;
  max-width: 75%;
  margin: 0 auto;
}

.about-me{
  margin: 10px;
}

@media only screen and (min-width: 640px){
  .info-holder{
    width: 85%;
    margin: 0 auto;
  }
}



