
.fa{
  font-family: 'FontAwesome';
}

.contact-info{
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 75px;
}

.being-nice{
  font-size: 22px;
  margin-bottom: 20px;
  color: #144c52;
}

.contact-icon{
  font-size: 35px;
  margin: 5px;
}

.contact-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.contact-list li{
  font-size: 30px;
  color:#144c52;
}

@media only screen and (min-width: 640px){
  .contact-list{
    margin: 0;
  }
  .contact-list li{
    font-size: 35px;
  }
  .contact-icon{
    font-size: 45px;
    margin: 5px;
  }

  .being-nice{
    font-size: 30px;
  }
  .contact-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
  }
}