.nav{
  position: relative;
}

.icon-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.fa{
  font-family: 'FontAwesome';
}

.nav-icon{
  font-size: 40px;
  margin: 5px;
}

a{
  text-decoration: none;
  color: #d34c26;
}

a:hover{
  color: #144c52;
}